


.bjy-noresize{
  resize:none;
}


.bjy-w10 {
  width: 10px;
}
.bjy-w20 {
  width: 20px;
}
.bjy-w30 {
  width: 30px;
}
.bjy-w40 {
  width: 40px;
}
.bjy-w50 {
  width: 50px;
}
.bjy-w60 {
  width: 60px;
}
.bjy-w70 {
  width: 70px;
}
.bjy-w80 {
  width: 80px;
}
.bjy-w90 {
  width: 90px;
}
.bjy-w100 {
  width: 100px;
}
.bjy-w110 {
  width: 110px;
}
.bjy-w120 {
  width: 120px;
}
.bjy-w130 {
  width: 130px;
}
.bjy-w140 {
  width: 140px;
}
.bjy-w150 {
  width: 150px;
}
.bjy-w160 {
  width: 160px;
}
.bjy-w170 {
  width: 170px;
}
.bjy-w180 {
  width: 180px;
}
.bjy-w190 {
  width: 190px;
}
.bjy-w200 {
  width: 200px;
}
.bjy-w210 {
  width: 210px;
}
.bjy-w220 {
  width: 220px;
}
.bjy-w230 {
  width: 230px;
}
.bjy-w240 {
  width: 240px;
}
.bjy-w250 {
  width: 250px;
}
.bjy-w260 {
  width: 260px;
}
.bjy-w270 {
  width: 270px;
}
.bjy-w280 {
  width: 280px;
}
.bjy-w290 {
  width: 290px;
}
.bjy-w300 {
  width: 300px;
}
.bjy-w310 {
  width: 310px;
}
.bjy-w320 {
  width: 320px;
}
.bjy-w330 {
  width: 330px;
}
.bjy-w340 {
  width: 340px;
}
.bjy-w350 {
  width: 350px;
}
.bjy-w360 {
  width: 360px;
}
.bjy-w370 {
  width: 370;
}
.bjy-w380 {
  width: 380px;
}
.bjy-w390 {
  width: 390px;
}
.bjy-w400 {
  width: 400px;
}
.bjy-w410 {
  width: 410;
}
.bjy-w420 {
  width: 420px;
}
.bjy-w430 {
  width: 430px;
}
.bjy-w440 {
  width: 440px;
}
.bjy-w450 {
  width: 450px;
}
.bjy-w460 {
  width: 460px;
}
.bjy-w470 {
  width: 470px;
}
.bjy-w480 {
  width: 480px;
}
.bjy-w490 {
  width: 490px;
}
.bjy-w500 {
  width: 500px;
}
.bjy-w550 {
  width: 550px;
}
.bjy-w600 {
  width: 600px;
}
.bjy-w650 {
  width: 650px;
}
.bjy-w700 {
  width: 700px;
}
.bjy-w750 {
  width: 750px;
}
.bjy-w800 {
  width: 800px;
}
.bjy-w850 {
  width: 850px;
}
.bjy-w900 {
  width: 900px;
}
.bjy-w950 {
  width: 950px;
}
.bjy-w1000 {
  width: 1000px;
}
.bjy-h10 {
  height: 10px;
}
.bjy-h20 {
  height: 20px;
}
.bjy-h30 {
  height: 30px;
}
.bjy-h40 {
  height: 40px;
}
.bjy-h50 {
  height: 50px;
}
.bjy-h60 {
  height: 60px;
}
.bjy-h70 {
  height: 70px;
}
.bjy-h80 {
  height: 80px;
}
.bjy-h90 {
  height: 90px;
}
.bjy-h100 {
  height: 100px;
}
.bjy-h110 {
  height: 110px;
}
.bjy-h120 {
  height: 120px;
}
.bjy-h130 {
  height: 130px;
}
.bjy-h140 {
  height: 140px;
}
.bjy-h150 {
  height: 150px;
}
.bjy-h160 {
  height: 160px;
}
.bjy-h170 {
  height: 170px;
}
.bjy-h180 {
  height: 180px;
}
.bjy-h190 {
  height: 190px;
}
.bjy-h200 {
  height: 200px;
}
.bjy-h310 {
  height: 310px;
}
.bjy-h320 {
  height: 320px;
}
.bjy-h330 {
  height: 330px;
}
.bjy-h340 {
  height: 340px;
}
.bjy-h350 {
  height: 350;
}
.bjy-h360 {
  height: 360px;
}
.bjy-h370 {
  height: 370px;
}
.bjy-h380 {
  height: 380px;
}
.bjy-h390 {
  height: 390px;
}
.bjy-h400 {
  height: 400px;
}
.bjy-h410 {
  height: 410px;
}
.bjy-h420 {
  height: 420px;
}
.bjy-h430 {
  height: 430px;
}
.bjy-h440 {
  height: 140px;
}
.bjy-h450 {
  height: 450px;
}
.bjy-h460 {
  height: 460px;
}
.bjy-h470 {
  height: 470px;
}
.bjy-h480 {
  height: 480px;
}
.bjy-h490 {
  height: 490px;
}
.bjy-h500 {
  height: 500px;
}
.bjy-h550 {
  height: 550px;
}
.bjy-h600 {
  height: 600px;
}
.bjy-h650 {
  height: 650px;
}
.bjy-h700 {
  height: 700px;
}
.bjy-h750 {
  height: 750px;
}
.bjy-h800 {
  height: 800px;
}
.bjy-h850 {
  height: 850px;
}
.bjy-h900 {
  height: 900px;
}
.bjy-h950 {
  height: 950px;
}
.bjy-h1000 {
  height: 1000px;
}
