@charset "utf-8";
/* CSS Document */
html {
  overflow-y: hidden;
}
#nav-top {
  width: 100%;
  height: 60px;
  background: #438EB9;
}
#nav-top .nt-logo {
  width: 190px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  float: left;
  position: relative;
}
#nav-top .nt-logo a {
  display: block;
  width: 190px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}
#nav-top .nt-nav {
  width: 700px;
  height: 60px;
  float: left;
}
#nav-top .nt-nav li {
  margin: 4px 20px;
  width: 60px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  float: left;
}
#nav-top .nt-nav li .nt-ico {
  font-size: 25px;
}
#nav-top .nt-nav .ntn-active {
  background: #62A8D1;
}
#nav-top .nt-msg {
  width: 400px;
  height: 60px;
  float: right;
}
#nav-left {
  width: 14%;
  height: 600px;
  border-right: 1px solid #CCCCCC;
  float: left;
  background: #F2F2F2;
}
#nav-left .nl-con {
  display: none;
}
#nav-left .nl-con dl {
  margin: 0;
}
#nav-left .nl-con dl dt {
  padding-left: 15px;
  width: 190px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #E5E5E5;
}
#nav-left .nl-con dl dt span {
  margin-right: 10px;
}
#nav-left .nl-con dl dd {
  padding-left: 30px;
  width: 189px;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E5E5E5;
  background: #fff;
  position: relative;
}
#nav-left .nl-con dl dd span {
  margin-right: 5px;
}
#nav-left .nl-con dl dd a {
  display: block;
  width: 190px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
#nav-left .nl-show {
  display: block;
}
#content {
  width: 85.9%;
  height: 590px;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
}
