@charset "utf-8";
/* CSS Document */

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 将斜体扶正 */
em, i { 
  font-style: normal; 
}

/* 重置列表元素 */
ul, ol ,li{ 
  list-style: none; 
}

/* 重置a标签属性 */
a { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: underline; 
}

a:focus {
  outline:none; 
  text-decoration: none;
  -moz-outline:none;
}

/* 让链接里的 img 无边框 */
img { 
  border: none; 
} 

/* 使得表单元素在 ie 下能继承字体大小 */
button, input, select, textarea {
    font-size: 100%; 
}

/*表格内容自动换行*/
table {
    word-break:break-all;
    word-wrap:break-word;
}

/* 常用样式 */
.b-inside{
  margin: 0 auto;
  width: 1200px;
}
.b-noresize{
  resize:none;
}
.b-ta-center{
  text-align: center;
}
.b-w-10 {
  width: 10px;
}
.b-w-20 {
  width: 20px;
}
.b-w-30 {
  width: 30px;
}
.b-w-40 {
  width: 40px;
}
.b-w-50 {
  width: 50px;
}
.b-w-60 {
  width: 60px;
}
.b-w-70 {
  width: 70px;
}
.b-w-80 {
  width: 80px;
}
.b-w-90 {
  width: 90px;
}
.b-w-100 {
  width: 100px;
}
.b-w-110 {
  width: 110px;
}
.b-w-120 {
  width: 120px;
}
.b-w-130 {
  width: 130px;
}
.b-w-140 {
  width: 140px;
}
.b-w-150 {
  width: 150px;
}
.b-w-160 {
  width: 160px;
}
.b-w-170 {
  width: 170px;
}
.b-w-180 {
  width: 180px;
}
.b-w-190 {
  width: 190px;
}
.b-w-200 {
  width: 200px;
}
.b-w-210 {
  width: 210px;
}
.b-w-220 {
  width: 220px;
}
.b-w-230 {
  width: 230px;
}
.b-w-240 {
  width: 240px;
}
.b-w-250 {
  width: 250px;
}
.b-w-260 {
  width: 260px;
}
.b-w-270 {
  width: 270px;
}
.b-w-280 {
  width: 280px;
}
.b-w-290 {
  width: 290px;
}
.b-w-300 {
  width: 300px;
}
.b-w-310 {
  width: 310px;
}
.b-w-320 {
  width: 320px;
}
.b-w-330 {
  width: 330px;
}
.b-w-340 {
  width: 340px;
}
.b-w-350 {
  width: 350px;
}
.b-w-360 {
  width: 360px;
}
.b-w-370 {
  width: 370;
}
.b-w-380 {
  width: 380px;
}
.b-w-390 {
  width: 390px;
}
.b-w-400 {
  width: 400px;
}
.b-w-410 {
  width: 410;
}
.b-w-420 {
  width: 420px;
}
.b-w-430 {
  width: 430px;
}
.b-w-440 {
  width: 440px;
}
.b-w-450 {
  width: 450px;
}
.b-w-460 {
  width: 460px;
}
.b-w-470 {
  width: 470px;
}
.b-w-480 {
  width: 480px;
}
.b-w-490 {
  width: 490px;
}
.b-w-500 {
  width: 500px;
}
.b-w-550 {
  width: 550px;
}
.b-w-600 {
  width: 600px;
}
.b-w-650 {
  width: 650px;
}
.b-w-700 {
  width: 700px;
}
.b-w-750 {
  width: 750px;
}
.b-w-800 {
  width: 800px;
}
.b-w-850 {
  width: 850px;
}
.b-w-900 {
  width: 900px;
}
.b-w-950 {
  width: 950px;
}
.b-w-1000 {
  width: 1000px;
}
.b-h-10 {
  height: 10px;
}
.b-h-20 {
  height: 20px;
}
.b-h-30 {
  height: 30px;
}
.b-h-40 {
  height: 40px;
}
.b-h-50 {
  height: 50px;
}
.b-h-60 {
  height: 60px;
}
.b-h-70 {
  height: 70px;
}
.b-h-80 {
  height: 80px;
}
.b-h-90 {
  height: 90px;
}
.b-h-100 {
  height: 100px;
}
.b-h-110 {
  height: 110px;
}
.b-h-120 {
  height: 120px;
}
.b-h-130 {
  height: 130px;
}
.b-h-140 {
  height: 140px;
}
.b-h-150 {
  height: 150px;
}
.b-h-160 {
  height: 160px;
}
.b-h-170 {
  height: 170px;
}
.b-h-180 {
  height: 180px;
}
.b-h-190 {
  height: 190px;
}
.b-h-200 {
  height: 200px;
}
.b-h-310 {
  height: 310px;
}
.b-h-320 {
  height: 320px;
}
.b-h-330 {
  height: 330px;
}
.b-h-340 {
  height: 340px;
}
.b-h-350 {
  height: 350;
}
.b-h-360 {
  height: 360px;
}
.b-h-370 {
  height: 370px;
}
.b-h-380 {
  height: 380px;
}
.b-h-390 {
  height: 390px;
}
.b-h-400 {
  height: 400px;
}
.b-h-410 {
  height: 410px;
}
.b-h-420 {
  height: 420px;
}
.b-h-430 {
  height: 430px;
}
.b-h-440 {
  height: 140px;
}
.b-h-450 {
  height: 450px;
}
.b-h-460 {
  height: 460px;
}
.b-h-470 {
  height: 470px;
}
.b-h-480 {
  height: 480px;
}
.b-h-490 {
  height: 490px;
}
.b-h-500 {
  height: 500px;
}
.b-h-550 {
  height: 550px;
}
.b-h-600 {
  height: 600px;
}
.b-h-650 {
  height: 650px;
}
.b-h-700 {
  height: 700px;
}
.b-h-750 {
  height: 750px;
}
.b-h-800 {
  height: 800px;
}
.b-h-850 {
  height: 850px;
}
.b-h-900 {
  height: 900px;
}
.b-h-950 {
  height: 950px;
}
.b-h-1000 {
  height: 1000px;
}
