<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>白俊遥的个人博客</title>
<bootstrap />
<link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
</head>
<body>
<!-- 顶部导航开始 -->
<div id="nav">
	<div class="b-inside">
		<div class="logo">帅白个人博客</div>
		<ul class="category">
			<li class="cname action">首页</li>
			<li class="cname">分类1</li>
			<li class="cname">分类2</li>
		</ul>

	</div>
</div>
<!-- 顶部导航结束 -->

<!-- 主体部分开始 -->
<div id="content">
	<div class="b-inside">
		<!-- 左侧列表开始 -->
		<div class="left">
			<div class="list">
				<div class="detail">
					<h3 class="title">解析当下流行的网站侧边栏导航</h3>
					<ul class="metadata">
						<li class="date">发布时间：Saturday, March 14, 2015 3:22:16 PM</li>
						<li class="category">分类：<a href="">Web</a></li>
						<li class="tags">标签：<a href="">web趋势</a>, <a href="">设计技巧</a></li>
					</ul>
					<div class="article">
						<div class="pic">
							<img src="http://www.58img.com/Media/Default/web/20150314150912.jpg" alt="">
						</div>
						<div class="word">
							<p class="description">
								电子商务网站商品详情页设计分析
		商品详情页是电子商务网站中最容易与用户产生交集共鸣的页面，详情页的设计极有可能会对用户的购买行为产生直接的影响。因此，商品详情页面的设计会涉及到运营层面，在美观实用的基础上，将要表达的信息尽可能用直观的视角展现出来，再有意识的避免设计与运营之间的冲突。 1.商品展示图不宜过大，鼠标悬停展示细节 商品详情页中的图片展示是用户进入该页面后的第一个视觉点，有设计师可能会因此认为这张图片的尺寸应该尽
							</p>
							<div class="readall">
								<a class="readall-a"  href="">阅读全文</a>
							</div>
						</div>
					</div>
				</div>
				<!-- 复制部分开始 -->
				<div class="detail">
					<h3 class="title">解析当下流行的网站侧边栏导航</h3>
					<ul class="metadata">
						<li class="date">发布时间：Saturday, March 14, 2015 3:22:16 PM</li>
						<li class="category">分类：<a href="">Web</a></li>
						<li class="tags">标签：<a href="">web趋势</a>, <a href="">设计技巧</a></li>
					</ul>
					<div class="article">
						<div class="pic">
							<img src="http://www.58img.com/Media/Default/web/20150314150912.jpg" alt="">
						</div>
						<div class="word">
							<p class="description">
								电子商务网站商品详情页设计分析
		商品详情页是电子商务网站中最容易与用户产生交集共鸣的页面，详情页的设计极有可能会对用户的购买行为产生直接的影响。因此，商品详情页面的设计会涉及到运营层面，在美观实用的基础上，将要表达的信息尽可能用直观的视角展现出来，再有意识的避免设计与运营之间的冲突。 1.商品展示图不宜过大，鼠标悬停展示细节 商品详情页中的图片展示是用户进入该页面后的第一个视觉点，有设计师可能会因此认为这张图片的尺寸应该尽
							</p>
							<div class="readall">
								<a class="readall-a"  href="">阅读全文</a>
							</div>
						</div>
					</div>
				</div>
				<div class="detail">
					<h3 class="title">解析当下流行的网站侧边栏导航</h3>
					<ul class="metadata">
						<li class="date">发布时间：Saturday, March 14, 2015 3:22:16 PM</li>
						<li class="category">分类：<a href="">Web</a></li>
						<li class="tags">标签：<a href="">web趋势</a>, <a href="">设计技巧</a></li>
					</ul>
					<div class="article">
						<div class="pic">
							<img src="http://www.58img.com/Media/Default/web/20150314150912.jpg" alt="">
						</div>
						<div class="word">
							<p class="description">
								电子商务网站商品详情页设计分析
		商品详情页是电子商务网站中最容易与用户产生交集共鸣的页面，详情页的设计极有可能会对用户的购买行为产生直接的影响。因此，商品详情页面的设计会涉及到运营层面，在美观实用的基础上，将要表达的信息尽可能用直观的视角展现出来，再有意识的避免设计与运营之间的冲突。 1.商品展示图不宜过大，鼠标悬停展示细节 商品详情页中的图片展示是用户进入该页面后的第一个视觉点，有设计师可能会因此认为这张图片的尺寸应该尽
							</p>
							<div class="readall">
								<a class="readall-a"  href="">阅读全文</a>
							</div>
						</div>
					</div>
				</div>
				<!-- 复制部分结束 -->
			</div>
		</div>
		<!-- 左侧列表结束 -->

		<!-- 右侧内容开始 -->
		<div class="right">
			<div class="tags">
				<h4 class="title">热门标签</h4>
				<ul class="tags-ul">
					<li class="tname tstyle-1">Bootstrap</li>
					<li class="tname tstyle-2">Foundation</li>
					<li class="tname tstyle-3">网页模板</li>
					<li class="tname tstyle-1">Web工具</li>
					<li class="tname tstyle-2">设计趋势</li>
					<li class="tname tstyle-3">Html5</li>
					<li class="tname tstyle-1">CSS3</li>
					<li class="tname tstyle-2">PSD素材</li>
					<li class="tname tstyle-3">PDF电子书</li>
					<li class="tname tstyle-1">前端技巧</li>
				</ul>
			</div>
		</div>
		<!-- 右侧内容结束 -->
	</div>
</div>
<!-- 主体部分结束 -->
</body>
</html>
