@charset "utf-8";
/* Document CSS */
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 650px;
    background: url(../image/login-bg.jpg) no-repeat;
    background-size: 100% 100%;
}
#Login{
    margin: 200px auto;
    width: 300px;
    height: 300px;
    .form-control{
        opacity: 0.6;
    }
    .verify{
        width: 140px;
        height: 40px;
        opacity: 0.6;
        cursor: pointer;
    }
    .submit{
        width: 155px;
    }
}






