@charset "utf-8";
/* CSS Document */
body {
  background: #F8F8F8;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  transition: ALL  0.5s ease;
  -moz-transition: ALL  0.5s ease;
  -webkit-transition: ALL  0.5s ease;
  -o-transition: ALL  0.5s ease;
}
/* 通用顶部导航栏开始 */
#b-public-nav {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #333;
  color: #fff;
  border: none;
  min-height: 40px;
  overflow: hidden;
}
#b-public-nav .navbar-header {
  background-image: url('../image/button_bg.png');
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}
#b-public-nav .navbar-header:hover {
  background-position: bottom right;
}
#b-public-nav .navbar-header .navbar-brand {
  padding: 0;
  height: 40px;
  position: relative;
}
#b-public-nav .navbar-header .navbar-brand .b-nav-background {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: -5px;
  background-image: url('../image/button_bg.png');
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}
#b-public-nav .navbar-header .navbar-brand .b-nav-background:hover {
  background-position: bottom right;
}
#b-public-nav .navbar-header .navbar-brand .b-logo-code,
#b-public-nav .navbar-header .navbar-brand .b-logo-word,
#b-public-nav .navbar-header .navbar-brand .b-logo-end {
  height: 40px;
  float: left;
}
#b-public-nav .navbar-header .navbar-brand .b-logo-code {
  padding-top: 4px;
}
#b-public-nav .navbar-header .navbar-brand .b-lc-start {
  height: 15px;
  color: #fff;
  font-size: 14px;
  line-height: 10px;
}
#b-public-nav .navbar-header .navbar-brand .b-lc-echo {
  height: 15px;
  color: #66D9EF;
  font-size: 14px;
  text-indent: 15px;
}
#b-public-nav .navbar-header .navbar-brand .b-logo-word {
  line-height: 40px;
  color: #FDD257;
}
#b-public-nav .navbar-header .navbar-brand .b-logo-end {
  color: #fff;
  font-size: 20px;
  line-height: 35px;
}
#b-public-nav .navbar-header .b-logo-a {
  display: block;
  width: 100%;
  height: 40px;
}
#b-public-nav .b-nav-parent {
  position: relative;
}
#b-public-nav .b-nav-parent .b-nav-mobile {
  height: 50px;
  background: #008CBA;
  position: absolute;
  top: -5px;
}
#b-public-nav .b-nav-parent .b-nav-active a {
  color: #fff;
}
#b-public-nav .b-nav-cname {
  height: 40px;
  position: relative;
}
#b-public-nav .b-nav-cname a {
  padding: 10px;
}
#b-public-nav .b-nav-login {
  height: 40px;
  position: relative;
}
#b-public-nav .b-nav-login .b-login-mobile {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: -5px;
  transition: ALL  0.5s ease;
  -moz-transition: ALL  0.5s ease;
  -webkit-transition: ALL  0.5s ease;
  -o-transition: ALL  0.5s ease;
}
#b-public-nav .b-nav-login:hover .b-login-mobile {
  background: #008CBA;
}
#b-public-nav .b-user-info .b-head_img {
  margin: 5px;
  width: 30px;
  height: 30px;
}
/* 通用顶部导航栏结束 */
/* 通用右侧开始 */
#b-public-right {
  /* 标签开始 */
  /* 标签结束 */
  /* 置顶推荐开始 */
  /* 置顶推荐结束 */
  /* 友情链接开始 */
  /* 友情链接开始 */
  /* 搜索开始 */
  /* 搜索结束 */
}
#b-public-right .b-tags,
#b-public-right .b-recommend,
#b-public-right .b-link,
#b-public-right .b-search {
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
}
#b-public-right .b-tags .b-title,
#b-public-right .b-recommend .b-title,
#b-public-right .b-link .b-title,
#b-public-right .b-search .b-title {
  height: 30px;
}
#b-public-right .b-tags .b-all-tname {
  overflow: hidden;
}
#b-public-right .b-tags .b-all-tname .b-tname {
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}
#b-public-right .b-tags .b-all-tname .b-tname a {
  display: block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  font-family: SimSun;
  color: #fff;
}
#b-public-right .b-tags .b-all-tname .b-tname a:hover {
  border-radius: 0;
}
#b-public-right .b-tags .b-all-tname .b-tname .link-a {
  margin-right: 5px;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-1 {
  background: #43AC6A;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-1:hover {
  text-decoration: none;
  background: #028231;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-2 {
  background: #F3A557;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-2:hover {
  text-decoration: none;
  background: #E97705;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-3 {
  background: #F25E45;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-3:hover {
  text-decoration: none;
  background: #D82508;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-4 {
  background: #34AFD8;
}
#b-public-right .b-tags .b-all-tname .b-tname .tstyle-4:hover {
  text-decoration: none;
  background: #0583AC;
}
#b-public-right .b-recommend .b-recommend-p .b-recommend-a {
  margin: 5px 0;
  padding-left: 18px;
  display: block;
  position: relative;
}
#b-public-right .b-recommend .b-recommend-p .b-recommend-a .fa {
  position: absolute;
  left: 0;
  top: 5px;
}
#b-public-right .b-link-a {
  margin-right: 10px;
}
#b-public-right .b-search {
  padding: 20px;
  overflow: hidden;
}
#b-public-right .b-search .b-search-text {
  margin-right: 0;
  padding: 0 5px;
  width: 78%;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  float: left;
}
#b-public-right .b-search .b-search-submit {
  margin-left: 0;
  width: 22%;
  height: 35px;
  background: #008CBA;
  color: #fff;
  border: none;
  float: left;
  background-image: url('../image/button_bg.png');
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}
#b-public-right .b-search .b-search-submit:hover {
  background-position: bottom right;
}
/* 通用右侧结束 */
/* 主体部分开始 */
#b-content {
  /* 文章列表开始 */
  /* 文章列表结束 */
  /* 文章内容开始 */
  /* 文章内容结束 */
  /* 文章评论开始 */
  /* 文章评论结束 */
  /* 随言碎语开始 */
  /* 随言碎语结束 */
}
#b-content .b-tag-title {
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
}
#b-content .b-tag-title h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: hidden;
}
#b-content .b-tag-title .b-highlight {
  margin: 0 5px;
  color: red;
}
#b-content .b-one-article {
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
  position: relative;
}
#b-content .b-one-article .b-date {
  padding-top: 10px;
  padding-bottom: 10px;
}
#b-content .b-one-article .b-date .b-tag-name {
  margin-right: 5px;
}
#b-content .b-one-article .b-oa-pic {
  padding: 3px;
  width: 100%;
  height: auto;
  border: 1px solid #CCC;
  overflow: hidden;
}
#b-content .b-one-article .b-oa-pic img {
  width: 220px;
  height: 150px;
}
#b-content .b-one-article .b-style1 img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#b-content .b-one-article .b-style1:hover img {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#b-content .b-one-article .b-readall {
  padding: 0 10px;
  position: absolute;
  right: 15px;
  bottom: 20px;
  color: #fff;
  border-radius: 10px;
  background: #34AFD8;
}
#b-content .b-one-article .b-readall:hover {
  text-decoration: none;
  background: #0583AC;
}
#b-content .b-article {
  background: #fff;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
}
#b-content .b-article .b-title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#b-content .b-article .b-metadata {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
  font-size: 14px;
}
#b-content .b-article .b-metadata .b-tag-name {
  margin-right: 5px;
}
#b-content .b-article .b-content-word img {
  max-width: 100%;
  height: auto;
}
#b-content .b-article .b-content-word .b-copyright {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #EE542A;
}
#b-content .b-article .b-content-word .b-prev-next {
  margin-top: 40px;
  width: 100%;
  height: 60px;
  font-size: 14px;
}
#b-content .b-article .b-content-word .b-prev-next .b-prev,
#b-content .b-article .b-content-word .b-prev-next .b-next {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
#b-content .b-article .b-content-word .b-prev-next .b-prev span,
#b-content .b-article .b-content-word .b-prev-next .b-next span {
  color: #ccc;
}
#b-content .b-comment {
  margin-top: 10px;
  padding-bottom: 210px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
  position: relative;
  z-index: 1;
}
#b-content .b-comment .b-comment-box {
  margin-top: 30px;
  padding-left: 70px;
  width: 100%;
  height: 130px;
  position: relative;
  z-index: 1;
}
#b-content .b-comment .b-comment-box .b-head-img {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 15px;
  top: 5px;
}
#b-content .b-comment .b-box-textarea {
  margin: 5px 0;
  width: 100%;
  height: 120px;
  border: 2px solid #CCD4D9;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
#b-content .b-comment .b-box-textarea .b-box-content {
  padding: 5px;
  width: 100%;
  height: 75px;
  border: none;
  border-bottom: 1px solid #E6EAED;
  color: #999;
  overflow-y: auto;
}
#b-content .b-comment .b-emote-submit {
  width: 100%;
  height: 40px;
  position: relative;
}
#b-content .b-comment .b-emote-submit .b-emote {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
#b-content .b-comment .b-emote-submit .b-emote i {
  padding: 5px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #C0C8CE;
  cursor: pointer;
  float: left;
}
#b-content .b-comment .b-emote-submit .b-emote i:hover {
  color: #337AB7;
}
#b-content .b-comment .b-emote-submit .b-emote .b-email {
  margin-top: 4px;
  width: 160px;
  float: left;
}
#b-content .b-comment .b-emote-submit .b-emote .b-tuzki {
  width: 80%;
  border-top: none;
  background: #fff;
  display: none;
  position: absolute;
  left: -2px;
  top: 43px;
}
#b-content .b-comment .b-emote-submit .b-emote .b-tuzki img {
  width: 52px;
  height: 52px;
  border: 1px solid #E6EAED;
  border-top: none;
  cursor: pointer;
}
#b-content .b-comment .b-emote-submit .b-emote .b-tuzki img:hover {
  border: 2px solid #008CBA;
}
#b-content .b-comment .b-emote-submit .b-submit-button {
  width: 90px;
  height: 40px;
  position: absolute;
  right: 2px;
  top: 0;
}
#b-content .b-comment .b-emote-submit .b-submit-button input {
  width: 92px;
  height: 44px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #5788AA;
  border: none;
  border-bottom-right-radius: 4px;
  position: absolute;
  right: -4px;
  bottom: -2px;
  background-image: url('../image/button_bg.png');
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}
#b-content .b-comment .b-emote-submit .b-submit-button input:hover {
  background-position: bottom right;
}
#b-content .b-comment .b-comment-title {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #88ABC3;
  color: #333;
  font-size: 14px;
}
#b-content .b-comment .b-comment-title .b-new {
  height: 40px;
  float: left;
}
#b-content .b-comment .b-comment-title .b-total {
  height: 40px;
  text-align: right;
}
#b-content .b-comment .b-comment-title .b-total span {
  color: #EE542A;
}
#b-content .b-comment .b-user-comment .b-user {
  padding-top: 10px;
  height: 100%;
}
#b-content .b-comment .b-user-comment .b-user .b-pic-col .b-user-pic {
  width: 45px;
  height: 45px;
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-content {
  overflow: hidden;
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-content .b-reply-name,
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-content .user-name {
  color: #ee542a;
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-content .b-reply {
  font-weight: 600;
}
#b-content .b-comment .b-user-comment .b-user .b-content-col .b-date {
  height: 30px;
  line-height: 30px;
}
#b-content .b-comment .b-user-comment .b-child {
  border: none;
}
#b-content .b-comment .b-user-comment .b-child .b-box-textarea .b-box-content {
  overflow-y: auto;
}
#b-content .b-comment .b-user-comment .b-child .b-box-textarea .b-emote-submit .b-emote {
  padding-right: 0px;
}
#b-content .b-comment .b-border {
  border-bottom: 1px solid #E6EAED;
}
#b-content .b-chat {
  padding: 25px 15px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
  overflow: hidden;
}
#b-content .b-chat .b-chat-one {
  margin-bottom: 50px;
  padding: 5px 10px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  position: relative;
}
#b-content .b-chat .b-chat-one .b-chat-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #ccc;
}
#b-content .b-chat .b-chat-one .b-chat-content {
  width: 100%;
  line-height: 21px;
  text-align: right;
}
#b-content .b-chat .b-chat-left {
  width: 50%;
  float: left;
}
#b-content .b-chat .b-chat-left .b-chat-one {
  margin-right: 10px;
}
#b-content .b-chat .b-chat-left .b-chat-one .b-chat-title {
  text-align: left;
}
#b-content .b-chat .b-chat-left .b-chat-one .b-chat-content {
  text-align: left;
}
#b-content .b-chat .b-chat-left .b-chat-one .b-arrows-right1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #E2E2E2;
  position: absolute;
  right: -20px;
}
#b-content .b-chat .b-chat-left .b-chat-one .b-arrows-right1 .b-arrows-round {
  width: 10px;
  height: 10px;
  background: #F08A24;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -4px;
}
#b-content .b-chat .b-chat-left .b-chat-one .b-arrows-right2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  right: -19px;
}
#b-content .b-chat .b-chat-middle {
  width: 1%;
  background: #008CBA;
  border-radius: 4px;
  float: left;
}
#b-content .b-chat .b-chat-right {
  padding-top: 70px;
  width: 49%;
  float: left;
}
#b-content .b-chat .b-chat-right .b-chat-one {
  margin-left: 10px;
}
#b-content .b-chat .b-chat-right .b-chat-one .b-chat-title {
  text-align: right;
}
#b-content .b-chat .b-chat-right .b-chat-one .b-chat-content {
  text-align: left;
}
#b-content .b-chat .b-chat-right .b-chat-one .b-arrows-right1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #E2E2E2 transparent transparent;
  position: absolute;
  left: -20px;
}
#b-content .b-chat .b-chat-right .b-chat-one .b-arrows-right1 .b-arrows-round {
  width: 10px;
  height: 10px;
  background: #F08A24;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -6px;
}
#b-content .b-chat .b-chat-right .b-chat-one .b-arrows-right2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -19px;
}
/* 主体部分结束 */
/* 通用登录框开始 */
#b-modal-login .b-login-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
#b-modal-login .b-login-row .b-login-img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 32px;
}
#b-modal-login .b-login-row .b-login-img img {
  width: 100%;
  height: 100%;
}
#b-modal-login .close {
  transition: all 0.2s linear 0s;
}
#b-modal-login .close:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* 通用登陆框结束 */
/* 通用底部开始 */
#b-foot {
  margin-top: 10px;
  position: relative;
  z-index: 2;
}
#b-foot .go-top {
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background: #0B94C1;
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 5px;
  bottom: 50px;
  display: none;
}
#b-foot .go-top:hover {
  background: #027CA5;
}
/* 通用底部结束 */
/* 网站关闭页面开始 */
#close {
  width: 100%;
}
#close .content {
  margin: 0 auto;
  width: 1024px;
  height: 400px;
  position: relative;
}
#close .content .font {
  width: 1024px;
  height: 50px;
  position: absolute;
  top: 300px;
  left: 0px;
  text-align: center;
  color: red;
  font-size: 50px;
  line-height: 50px;
}
/* 网站关闭页面结束 */
/* 为pc设置样式开始 */
@media (min-width: 992px) {
  #b-public-nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #b-public-nav .navbar-header {
    background-image: none;
  }
  #b-foot .go-top {
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 60px;
    right: 104px;
    bottom: 100px;
  }
  #b-content .b-comment .b-emote-submit .b-emote .b-email {
    width: 200px;
  }
}
/* 为pc设置样式结束 */
