@charset "utf-8";
/* CSS Document */
body {
  background: #F8F8F8;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 顶部导航开始 */
#nav {
  display: table;
  width: 100%;
  height: 45px;
  background: #333;
  overflow: hidden;
}
#nav .b-inside {
  height: 45px;
  overflow: hidden;
}
#nav .b-inside .logo {
  width: 200px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  float: left;
}
#nav .b-inside .logo a {
  font-size: 30px;
  font-weight: 800;
}
#nav .b-inside .logo a:hover {
  text-decoration: none;
}
#nav .b-inside .category {
  width: 800px;
  height: 45px;
  float: left;
}
#nav .b-inside .category .cname {
  margin-right: 1px;
  height: 45px;
  line-height: 45px;
  float: left;
}
#nav .b-inside .category .cname a {
  padding: 0 15px;
  display: block;
  height: 45px;
  color: #fff;
  position: relative;
}
#nav .b-inside .category .cname a:hover {
  text-decoration: none;
  background: #008CBA;
}
#nav .b-inside .category .action {
  background: #008CBA;
}
#nav .b-inside .user {
  width: 200px;
  height: 45px;
  float: left;
  overflow: hidden;
}
#nav .b-inside .user .login {
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  float: right;
}
#nav .b-inside .user .login:hover {
  background: #008CBA;
  cursor: pointer;
}
#nav .b-inside .user .user-info {
  height: 45px;
  line-height: 45px;
  float: right;
}
#nav .b-inside .user .user-info span {
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
}
#nav .b-inside .user .user-info span img {
  width: 30px;
  height: 30px;
}
#nav .b-inside .user .user-info span a {
  color: #fff;
}
#nav .b-inside .user .user-info span a:hover {
  color: #008CBA;
}
/* 顶部导航结束 */
/* 主体部分开始 */
#content {
  display: table;
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}
#content .b-inside {
  /* 左侧列表开始 */
  /* 左侧列表结束 */
  /* 右侧内容开始 */
  /* 右侧内容结束 */
}
#content .b-inside .tag-title {
  padding-left: 15px;
  width: 840px;
  height: 80px;
  line-height: 80px;
  background: #fff;
}
#content .b-inside .highlight {
  margin: 0 5px;
  color: red;
}
#content .b-inside .left {
  margin-right: 20px;
  padding: 5px 0;
  width: 840px;
  float: left;
  overflow: hidden;
}
#content .b-inside .left .list {
  width: 840px;
}
#content .b-inside .left .list .title {
  width: 810px;
  height: 40px;
  line-height: 40px;
  color: #0078A0;
}
#content .b-inside .left .list .detail {
  margin-bottom: 15px;
  padding: 20px 15px;
  width: 840px;
  height: 270px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
}
#content .b-inside .left .list .detail .article {
  width: 810px;
  height: 160px;
}
#content .b-inside .left .list .detail .article .pic {
  margin-right: 15px;
  padding: 3px;
  width: 270px;
  height: 160px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
}
#content .b-inside .left .list .detail .article .pic img {
  width: 260px;
  height: 150px;
}
#content .b-inside .left .list .detail .article .word {
  width: 525px;
  height: 160px;
  float: left;
}
#content .b-inside .left .list .detail .article .word .description {
  width: 525px;
  height: 140px;
  line-height: 23px;
  color: #999;
  overflow: hidden;
}
#content .b-inside .left .list .detail .article .word .readall {
  width: 525px;
  height: 20px;
}
#content .b-inside .left .list .detail .article .word .readall .readall-a {
  padding: 0 10px;
  background: #008CBA;
  color: #fff;
  border-radius: 10px;
}
#content .b-inside .left .metadata {
  width: 810px;
  height: 30px;
}
#content .b-inside .left .metadata li {
  height: 30px;
  line-height: 30px;
  float: left;
}
#content .b-inside .left .metadata .date {
  padding-right: 10px;
}
#content .b-inside .left .metadata .category {
  padding: 0 10px;
}
#content .b-inside .left .metadata .tags {
  padding: 0 10px;
}
#content .b-inside .left .metadata .tags a {
  margin-right: 10px;
}
#content .b-inside .left .article {
  width: 840px;
  background: #fff;
}
#content .b-inside .left .article .title {
  margin-bottom: 20px;
  padding: 40px;
  width: 840px;
}
#content .b-inside .left .article .metadata {
  margin-top: 20px;
  width: 840px;
  padding: 0 40px;
  border-bottom: 1px 	dotted #999;
}
#content .b-inside .left .article .content-word {
  margin-bottom: 10px;
  padding: 40px;
  border-bottom: 1px solid #E2E2E2;
}
#content .b-inside .left .article .content-word .copyright {
  width: 760px;
  height: 30px;
  line-height: 30px;
  color: #EE542A;
}
#content .b-inside .left .article .content-word .prev-next {
  margin-top: 40px;
  width: 760px;
  height: 60px;
}
#content .b-inside .left .article .content-word .prev-next .prev,
#content .b-inside .left .article .content-word .prev-next .next {
  width: 760px;
  height: 30px;
  line-height: 30px;
}
#content .b-inside .left .article .content-word .prev-next .prev span,
#content .b-inside .left .article .content-word .prev-next .next span {
  color: #ccc;
}
#content .b-inside .left .comment {
  padding: 0 40px;
  width: 840px;
  background: #fff;
}
#content .b-inside .left .page {
  width: 840px;
  padding: 30px 15px;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
  text-align: center;
  overflow: hidden;
}
#content .b-inside .left .page .first,
#content .b-inside .left .page .prev,
#content .b-inside .left .page .current,
#content .b-inside .left .page .num,
#content .b-inside .left .page .current,
#content .b-inside .left .page .next,
#content .b-inside .left .page .end {
  padding: 8px 16px;
  margin: 0px 5px;
  display: inline-block;
  color: #008CBA;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
}
#content .b-inside .left .page .first:hover,
#content .b-inside .left .page .prev:hover,
#content .b-inside .left .page .current:hover,
#content .b-inside .left .page .num:hover,
#content .b-inside .left .page .current:hover,
#content .b-inside .left .page .next:hover,
#content .b-inside .left .page .end:hover {
  text-decoration: none;
}
#content .b-inside .left .page .current {
  background-color: #008CBA;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid #008CBA;
}
#content .b-inside .left .page .current:hover {
  text-decoration: none;
}
#content .b-inside .right {
  width: 340px;
  padding: 5px 0;
  float: left;
}
#content .b-inside .right .tags,
#content .b-inside .right .recommend,
#content .b-inside .right .search,
#content .b-inside .right .link {
  margin-bottom: 20px;
  padding: 20px;
  width: 340px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
  overflow: hidden;
}
#content .b-inside .right .tags .title,
#content .b-inside .right .recommend .title,
#content .b-inside .right .search .title,
#content .b-inside .right .link .title {
  width: 300px;
  height: 40px;
  line-height: 40px;
}
#content .b-inside .right .tags .tags-ul,
#content .b-inside .right .recommend .tags-ul,
#content .b-inside .right .search .tags-ul,
#content .b-inside .right .link .tags-ul,
#content .b-inside .right .tags .recommend-p,
#content .b-inside .right .recommend .recommend-p,
#content .b-inside .right .search .recommend-p,
#content .b-inside .right .link .recommend-p,
#content .b-inside .right .tags .link-p,
#content .b-inside .right .recommend .link-p,
#content .b-inside .right .search .link-p,
#content .b-inside .right .link .link-p {
  width: 300px;
}
#content .b-inside .right .tags .tags-ul .tname,
#content .b-inside .right .recommend .tags-ul .tname,
#content .b-inside .right .search .tags-ul .tname,
#content .b-inside .right .link .tags-ul .tname,
#content .b-inside .right .tags .recommend-p .tname,
#content .b-inside .right .recommend .recommend-p .tname,
#content .b-inside .right .search .recommend-p .tname,
#content .b-inside .right .link .recommend-p .tname,
#content .b-inside .right .tags .link-p .tname,
#content .b-inside .right .recommend .link-p .tname,
#content .b-inside .right .search .link-p .tname,
#content .b-inside .right .link .link-p .tname {
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}
#content .b-inside .right .tags .tags-ul .tname a,
#content .b-inside .right .recommend .tags-ul .tname a,
#content .b-inside .right .search .tags-ul .tname a,
#content .b-inside .right .link .tags-ul .tname a,
#content .b-inside .right .tags .recommend-p .tname a,
#content .b-inside .right .recommend .recommend-p .tname a,
#content .b-inside .right .search .recommend-p .tname a,
#content .b-inside .right .link .recommend-p .tname a,
#content .b-inside .right .tags .link-p .tname a,
#content .b-inside .right .recommend .link-p .tname a,
#content .b-inside .right .search .link-p .tname a,
#content .b-inside .right .link .link-p .tname a {
  display: block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  font-family: SimSun;
  color: #fff;
}
#content .b-inside .right .tags .tags-ul .link-a,
#content .b-inside .right .recommend .tags-ul .link-a,
#content .b-inside .right .search .tags-ul .link-a,
#content .b-inside .right .link .tags-ul .link-a,
#content .b-inside .right .tags .recommend-p .link-a,
#content .b-inside .right .recommend .recommend-p .link-a,
#content .b-inside .right .search .recommend-p .link-a,
#content .b-inside .right .link .recommend-p .link-a,
#content .b-inside .right .tags .link-p .link-a,
#content .b-inside .right .recommend .link-p .link-a,
#content .b-inside .right .search .link-p .link-a,
#content .b-inside .right .link .link-p .link-a {
  margin-right: 5px;
}
#content .b-inside .right .tags .tags-ul .tstyle-1,
#content .b-inside .right .recommend .tags-ul .tstyle-1,
#content .b-inside .right .search .tags-ul .tstyle-1,
#content .b-inside .right .link .tags-ul .tstyle-1,
#content .b-inside .right .tags .recommend-p .tstyle-1,
#content .b-inside .right .recommend .recommend-p .tstyle-1,
#content .b-inside .right .search .recommend-p .tstyle-1,
#content .b-inside .right .link .recommend-p .tstyle-1,
#content .b-inside .right .tags .link-p .tstyle-1,
#content .b-inside .right .recommend .link-p .tstyle-1,
#content .b-inside .right .search .link-p .tstyle-1,
#content .b-inside .right .link .link-p .tstyle-1 {
  background: #43AC6A;
}
#content .b-inside .right .tags .tags-ul .tstyle-2,
#content .b-inside .right .recommend .tags-ul .tstyle-2,
#content .b-inside .right .search .tags-ul .tstyle-2,
#content .b-inside .right .link .tags-ul .tstyle-2,
#content .b-inside .right .tags .recommend-p .tstyle-2,
#content .b-inside .right .recommend .recommend-p .tstyle-2,
#content .b-inside .right .search .recommend-p .tstyle-2,
#content .b-inside .right .link .recommend-p .tstyle-2,
#content .b-inside .right .tags .link-p .tstyle-2,
#content .b-inside .right .recommend .link-p .tstyle-2,
#content .b-inside .right .search .link-p .tstyle-2,
#content .b-inside .right .link .link-p .tstyle-2 {
  background: #F08A24;
}
#content .b-inside .right .tags .tags-ul .tstyle-3,
#content .b-inside .right .recommend .tags-ul .tstyle-3,
#content .b-inside .right .search .tags-ul .tstyle-3,
#content .b-inside .right .link .tags-ul .tstyle-3,
#content .b-inside .right .tags .recommend-p .tstyle-3,
#content .b-inside .right .recommend .recommend-p .tstyle-3,
#content .b-inside .right .search .recommend-p .tstyle-3,
#content .b-inside .right .link .recommend-p .tstyle-3,
#content .b-inside .right .tags .link-p .tstyle-3,
#content .b-inside .right .recommend .link-p .tstyle-3,
#content .b-inside .right .search .link-p .tstyle-3,
#content .b-inside .right .link .link-p .tstyle-3 {
  background: #F04124;
}
#content .b-inside .right .tags .tags-ul .tstyle-4,
#content .b-inside .right .recommend .tags-ul .tstyle-4,
#content .b-inside .right .search .tags-ul .tstyle-4,
#content .b-inside .right .link .tags-ul .tstyle-4,
#content .b-inside .right .tags .recommend-p .tstyle-4,
#content .b-inside .right .recommend .recommend-p .tstyle-4,
#content .b-inside .right .search .recommend-p .tstyle-4,
#content .b-inside .right .link .recommend-p .tstyle-4,
#content .b-inside .right .tags .link-p .tstyle-4,
#content .b-inside .right .recommend .link-p .tstyle-4,
#content .b-inside .right .search .link-p .tstyle-4,
#content .b-inside .right .link .link-p .tstyle-4 {
  background: #008CBA;
}
#content .b-inside .right .tags .search-text,
#content .b-inside .right .recommend .search-text,
#content .b-inside .right .search .search-text,
#content .b-inside .right .link .search-text {
  margin-right: 0;
  padding: 0 5px;
  width: 230px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  float: left;
}
#content .b-inside .right .tags .search-submit,
#content .b-inside .right .recommend .search-submit,
#content .b-inside .right .search .search-submit,
#content .b-inside .right .link .search-submit {
  margin-left: 0;
  width: 70px;
  height: 35px;
  background: #008CBA;
  color: #fff;
  border: none;
  float: left;
}
#content .b-inside .right .recommend .recommend-p .recommend-a {
  margin: 5px 0;
  display: block;
}
/* 主体部分结束 */
/* 通用底部开始 */
#foot {
  display: table;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
}
/* 通用底部结束 */
/* 网站关闭页面开始 */
#close {
  width: 100%;
}
#close .content {
  margin: 0 auto;
  width: 1024px;
  height: 400px;
  position: relative;
}
#close .content .font {
  width: 1024px;
  height: 50px;
  position: absolute;
  top: 300px;
  left: 0px;
  text-align: center;
  color: red;
  font-size: 50px;
  line-height: 50px;
  font-family: 微软雅黑;
}
/* 网站关闭页面结束 */
