@charset "utf-8";
/* CSS Document */
body {
  background: #F8F8F8;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 顶部导航开始 */
#nav {
  width: 100%;
  height: 45px;
  background: #333;
  overflow: hidden;
}
#nav .b-inside {
  height: 45px;
}
#nav .b-inside .logo {
  width: 200px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  float: left;
}
#nav .b-inside .logo a {
  font-size: 30px;
  font-weight: 800;
}
#nav .b-inside .logo a:hover {
  text-decoration: none;
}
#nav .b-inside .category {
  height: 45px;
  float: left;
}
#nav .b-inside .category .cname {
  margin-right: 1px;
  height: 45px;
  line-height: 45px;
  float: left;
}
#nav .b-inside .category .cname a {
  padding: 0 15px;
  display: block;
  height: 45px;
  color: #fff;
  position: relative;
}
#nav .b-inside .category .cname a:hover {
  text-decoration: none;
  background: #008CBA;
}
#nav .b-inside .category .action {
  background: #008CBA;
}
#nav .b-inside .user {
  height: 45px;
  float: right;
}
#nav .b-inside .user .login {
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  color: #fff;
}
#nav .b-inside .user .login:hover {
  background: #008CBA;
  cursor: pointer;
}
#nav .b-inside .user .user-info {
  height: 45px;
  line-height: 45px;
}
#nav .b-inside .user .user-info span {
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
}
#nav .b-inside .user .user-info span img {
  width: 30px;
  height: 30px;
}
#nav .b-inside .user .user-info span a {
  color: #fff;
}
#nav .b-inside .user .user-info span a:hover {
  color: #008CBA;
}
/* 顶部导航结束 */
/* 主体部分开始 */
#content {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}
#content .b-inside {
  /* 左侧列表开始 */
  /* 左侧列表结束 */
  /* 右侧内容开始 */
  /* 右侧内容结束 */
}
#content .b-inside .tag-title {
  padding-left: 15px;
  width: 840px;
  height: 80px;
  line-height: 80px;
  background: #fff;
}
#content .b-inside .left {
  margin-right: 20px;
  width: 840px;
  float: left;
}
#content .b-inside .left .list {
  width: 840px;
}
#content .b-inside .left .list .title {
  width: 810px;
  height: 40px;
  line-height: 40px;
  color: #0078A0;
}
#content .b-inside .left .list .detail {
  margin-bottom: 15px;
  padding: 20px 15px;
  width: 840px;
  height: 270px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
}
#content .b-inside .left .list .detail .article {
  width: 810px;
  height: 160px;
}
#content .b-inside .left .list .detail .article .pic {
  margin-right: 15px;
  padding: 3px;
  width: 270px;
  height: 160px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
}
#content .b-inside .left .list .detail .article .pic img {
  width: 260px;
  height: 150px;
}
#content .b-inside .left .list .detail .article .word {
  width: 525px;
  height: 160px;
  float: left;
}
#content .b-inside .left .list .detail .article .word .description {
  width: 525px;
  height: 140px;
  line-height: 23px;
  color: #999;
  overflow: hidden;
}
#content .b-inside .left .list .detail .article .word .readall {
  width: 525px;
  height: 20px;
}
#content .b-inside .left .list .detail .article .word .readall .readall-a {
  padding: 0 10px;
  background: #008CBA;
  color: #fff;
  border-radius: 10px;
}
#content .b-inside .left .metadata {
  width: 810px;
  height: 30px;
}
#content .b-inside .left .metadata li {
  height: 30px;
  line-height: 30px;
  float: left;
}
#content .b-inside .left .metadata .date {
  padding-right: 10px;
}
#content .b-inside .left .metadata .category {
  padding: 0 10px;
}
#content .b-inside .left .metadata .tags {
  padding: 0 10px;
}
#content .b-inside .left .metadata .tags a {
  margin-right: 10px;
}
#content .b-inside .left .article {
  width: 840px;
  background: #fff;
}
#content .b-inside .left .article .title {
  margin-bottom: 20px;
  padding: 40px;
  width: 840px;
}
#content .b-inside .left .article .metadata {
  margin-top: 20px;
  width: 840px;
  padding: 0 40px;
  border-bottom: 1px 	dotted #999;
}
#content .b-inside .left .article .content-word {
  margin-bottom: 10px;
  padding: 40px;
  border-bottom: 1px solid #E2E2E2;
}
#content .b-inside .left .comment {
  padding: 0 40px;
  width: 840px;
  background: #fff;
}
#content .b-inside .right {
  width: 340px;
  float: left;
}
#content .b-inside .right .tags {
  padding: 20px;
  width: 340px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #E2E2E2;
  overflow: hidden;
}
#content .b-inside .right .tags .title {
  width: 300px;
  height: 40px;
  line-height: 40px;
}
#content .b-inside .right .tags .tags-ul {
  width: 300px;
}
#content .b-inside .right .tags .tags-ul .tname {
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}
#content .b-inside .right .tags .tags-ul .tname a {
  display: block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  font-family: SimSun;
  color: #fff;
}
#content .b-inside .right .tags .tags-ul .tstyle-0 {
  background: #43AC6A;
}
#content .b-inside .right .tags .tags-ul .tstyle-1 {
  background: #F08A24;
}
#content .b-inside .right .tags .tags-ul .tstyle-2 {
  background: #F04124;
}
#content .b-inside .right .tags .tags-ul .tstyle-3 {
  background: #008CBA;
}
#content .b-inside .right .tags .tags-ul .tstyle-4 {
  background: #F08A24;
}
#content .b-inside .right .tags .tags-ul .tstyle-5 {
  background: #43AC6A;
}
#content .b-inside .right .tags .tags-ul .tstyle-6 {
  background: #F04124;
}
#content .b-inside .right .tags .tags-ul .tstyle-7 {
  background: #008CBA;
}
/* 主体部分结束 */
/* 通用底部开始 */
#foot {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
}
/* 通用底部结束 */
